PROJECT_NAME=regio-server
BACKEND_CORS_ORIGINS=[
    http://localhost:8000,
    https://localhost:8000,
    http://localhost:3000
    https://localhost:3000
]
# Regio's possible domains are hardcoded here
BACKEND_CORS_ORIGINS_REGEX=https://(.*\.)?regio\.(is|151\.hu)

SECRET_KEY=your-secret-key-here

ENVIRONMENT=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password
POSTGRES_SERVER=localhost # host.docker.internal for PRODUCTION (if postgres is host-installed)
POSTGRES_DB=regio

REDIS_URL=redis://localhost:6379/0

R2_BUCKET_NAME="bucket-name"
R2_ENDPOINT_URL="endpoint-url"
R2_ACCESS_KEY_ID="access-key-id-here"
R2_SECRET_ACCESS_KEY="secret-key-here"

SYSTEM_SINK_CODE=A1000
SYSTEM_SINK_FIRST_NAME=System
SYSTEM_SINK_LAST_NAME=Treasury
SYSTEM_SINK_EMAIL=admin@system.com
SYSTEM_SINK_PASSWORD=your-system-password
SYSTEM_INVITE_CODE=SYSTEM

ALGORITHM=HS256

MATRIX_HOMESERVER_URL=https://your-matrix-server.com
MATRIX_DOMAIN=your-matrix-domain.com
MATRIX_REGISTRATION_TOKEN=your-registration-token
MATRIX_ADMIN_USER=your-admin-user
MATRIX_ADMIN_PASSWORD=your-admin-password
MATRIX_ENCRYPTION_KEY=your-encryption-key

# Email / SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=noreply@example.com
SMTP_PASSWORD=changeme
SMTP_FROM_ADDRESS=noreply@example.com
SMTP_USE_TLS=true
CALENDLY_URL=https://calendly.com/your-calendly-link

DEEPSEEK_API_KEY=your-deepseek-api-key
